body{
    margin: 0;
    padding: 0;
    background: #09b5e0;
}

.name{
    width: 100%;
    height: 300px;
    background: #A2AEBB;
    transform: skewY(0deg);
}

.name .content{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
}

.name .content .p-1{
    color: #0c0c0c;
    font-family: 'Festive', cursive;
    font-weight: bolder;
    font-size: 65px;
    transform: skewY(0deg);
    margin-bottom: 0;
}

.name .content .p-2{
    color: #030303;
    font-family: 'Festive', cursive;
    font-size: 40px;
    transform: skewY(0deg);
    margin-top: 0;
    margin-bottom: 0;
}

.info{
    width: 90%;
    height: auto;
    background: #e0f00b;
    margin:5% auto;
    padding: 20px;
}

.info .titulo1{
    color: #010407;
    font-family: 'Rowdies', cursive;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: #3F88C5 solid;
}

.info .tituloinfo{
    color: #3F88C5;
    font-family: 'Rowdies', cursive;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;
}

.info .infoinfo{
    color: #27e90e;
    font-family: 'Rowdies', cursive;
    font-weight: normal;
    font-size: large;
    display: inline;
}